// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #ff9300;
  color: white;
  font-size: 26px;
  line-height: 60px;
  text-align: center;
  font-weight: 100;
  font-family: 'Lato';
  margin-top: 18px;

}

.wrapper {
  border: 2px solid #000;
  overflow: hidden;
}

.wrapper div {
  min-height: 200px;
  padding: 10px;
}

.entity-left {
  background-color: white;
  float: left;
  width: auto;
  margin: 6px;
}

.entity-title {
  font-size: 17px;
  font-weight: bold;
}

.entity-description {
  font-size: 13px;
  min-height: 70px;
}

.entity-right {
  background-color: white;
  overflow: hidden;
  margin: 5px;
  min-height: 100px;
}

@media screen and (max-width: 400px) {
  #one {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
    border-bottom: 2px solid #000;
  }
}

.entity {
  border: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 5px;
  box-shadow: 2px 2px 3px #888888;

}

/*.entity-info {*/
/*margin: 0;*/
/*width: 100%;*/
/*}*/

.entity-info-right {
  text-align: right;
  font-size: 15px;

}

.entity-info-left {
  text-align: left;
  font-size: 15px;

}

.messages {
  border: 2px solid #000;
  overflow: hidden;
  margin: 5px;
}

.messages div {
  margin: 5px;
  min-height: 70px;
  padding: 10px;
}

.messages-left {
  background-color: white;
  float: left;
  width: auto;
  margin: 5px;
}

.messages-right {
  background-color: white;
  overflow: hidden;
  margin: 5px;
  font-size: 30px;
  min-height: 150px;
}

.message-receiver {
  background-color: white;
  float: left;
  width: auto;
  margin: 5px;
}

.message-sender {
  background-color: blue;
  float: right;
  width: auto;
  margin: 5px;
}

.message div {
  margin: 5px;
  min-height: 70px;
  padding: 10px;
}

.message {
  border: 2px solid #000;
  overflow: hidden;
  margin: 5px;
}

a:link, a:visited {
  text-decoration: none;
  color: #777;
}